//contem os selectores globais da aplicacao
*{
	margin: 0px;
	padding: 0px;
}

//=========================
//margens
//verticais
.mrg-ver-5{ margin-top: 5px 0px;}
.mrg-ver-10{ margin-top: 10px 0px;}
.mrg-ver-15{ margin-top: 15px 0px;}
.mrg-ver-20{ margin-top: 20px 0px;}
.mrg-ver-30{ margin-top: 30px 0px;}
.mrg-ver-40{ margin-top: 40px 0px;}

//horizontal
.mrg-hor-5{ margin-top: 0px 5px;}
.mrg-hor-10{ margin-top: 0px 10px;}
.mrg-hor-15{ margin-top: 0px 15px;}
.mrg-hor-20{ margin-top: 0px 20px;}
.mrg-hor-30{ margin-top: 0px 30px;}
.mrg-hor-40{ margin-top: 0px 40px;}

//totais
.mrg-5 { margin: 5px; }
.mrg-10 { margin: 10px; }
.mrg-15 { margin: 15px; }
.mrg-20 { margin: 20px; }
.mrg-30 { margin: 30px; }
.mrg-40 { margin: 40px; }

//==================================
//paddings
//verticais
.pud-ver-5 {pudding: 5px 0px; }
.pud-ver-10 {pudding: 10px 0px; }
.pud-ver-15 {pudding: 15px 0px; }
.pud-ver-20 {pudding: 20px 0px; }
.pud-ver-30 {pudding: 30px 0px; }
.pud-ver-40 {pudding: 40px 0px; }

//horizontal
.pud-hor-5 {pudding: 0px 5px; }
.pud-hor-10 {pudding: 0px 10px; }
.pud-hor-15 {pudding: 0px 15px; }
.pud-hor-20 {pudding: 0px 20px; }
.pud-hor-30 {pudding: 0px 30px; }
.pud-hor-40 {pudding: 0px 40px; }

//esquerda
.pud-esq-5 {pudding-left: 5px; }
.pud-esq-10 {pudding-left: 10px; }
.pud-esq-15 {pudding-left: 15px; }
.pud-esq-20 {pudding-left: 20px; }

//direita
.pud-dir-5 {pudding-right: 5px; }
.pud-dir-10 {pudding-right: 10px; }
.pud-dir-15 {pudding-right: 15px; }
.pud-dir-20 {pudding-right: 20px; }

//totais
.pud-5 {pudding: 5px; }
.pud-10 {pudding: 10px; }
.pud-15 {pudding: 15px; }
.pud-20 {pudding: 20px; }
.pud-30 {pudding: 30px; }
.pud-40 {pudding: 40px; }

.text red
 